<header>
  <div id="sticky-header" class="menu-area transparent-header">
    <div class="container custom-container">
      <div class="row">
        <div class="col-12">
          <div class="menu-wrap">
            <nav class="menu-nav show">
              <div class="logo">
                <a href="index.html">
                  <img src="assets/img/imgsss.png" alt="Logo">
                </a>
              </div>
              <div class="navbar-wrap main-menu d-none ml-auto d-lg-flex">
                <ul class="navigation">
                  <li class="active menu-item-has-children"><a href="#">Home</a>
                  <li class="menu-item-has-children"><a href="#">Movie</a>
                  <li><a href="#">tv show</a></li>
                  <li><a href="#">Pricing</a></li>
                  <li class="#"><a href="#">blog</a>
                  <li><a href="#">contacts</a></li>
                </ul>
              </div>
            </nav>
          </div>


        </div>
      </div>
    </div>
  </div>
</header>
